$buttonNormalColor: #41CAC0;
// $buttonNormalColor: #59ACE2;
$buttonHoverColor: #39B2A9;
$buttonActiveColor: #204D74;
$buttonHoverFontColor: #F2F2F2;
$errorColor: rgb(255, 105, 105);
$errorHoverColor: rgb(255, 0, 0);

$tableHeadColor: #556080;